<% action = cat.persisted? ? cat_url(cat) : cats_url %>
<% method = cat.persisted? ? :patch : :post %>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= cat.name %>">

  <br> 
  
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M" <%= cat.sex == "M" ? "checked" : "" %>>
  <label for="cat_sex_male">Male</label>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F" <%= cat.sex == "F" ? "checked" : "" %>>
  <label for="cat_sex_female">Female</label>

 <br><br>

  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option selected>--select a color--</option>
      <% Cat::CAT_COLORS.each do |color| %>
      <option value="<%= color %>" <%= cat.color == color ? "selected" : "" %>><%= color %></option>
    <% end %>
  </select>

 <br>

  <label for="cat_birth_date">Birth Date</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date" value="<%= cat.birth_date %>">

  <br>

  <label for="cat_description">Description</label>
  <textarea name="cat[descirption]" id="cat_description"><%= cat.description %></textarea>
 

  <input type="submit" value="Submit">
</form>